<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Login"</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="min-h-full">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 items-center justify-between">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                    </div>
                    <div class="hidden md:block">
                        <div class="ml-10 flex items-baseline space-x-4">

                            <a th:href="@{/logout}" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Odhlásit se</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Přehled podaných přihlášek</h1>
        </div>
    </header>
    <main class="flex">
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <h2 class="text-1xl font-bold text-gray-900">Název tanečního klubu:</h2>
            <ul>
                <li th:each="form : ${forms}">
                    <span th:text = "${form.getDancegroup().getName()}"></span>
                </li>
            </ul>
        </div>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <h2 class="text-1xl font-bold text-gray-900">Počet členů:</h2>
            <ul>
                <li th:each="form : ${forms}">
                    <span th:text = "${form.getDancegroup().getNumOfDancer()}"></span>
                </li>
            </ul>
        </div>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <h2 class="text-1xl font-bold text-gray-900">Kontakt:</h2>
            <ul>
                <li th:each="form : ${forms}">
                    <span th:text = "${form.getContact()}"></span>
                </li>
            </ul>
        </div>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <h2 class="text-1xl font-bold text-gray-900">Název tance:</h2>
            <ul>
                <li th:each="form : ${forms}">
                    <span th:text = "${form.getDance().getName()}"></span>
                </li>
            </ul>
        </div>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <h2 class="text-1xl font-bold text-gray-900">Počet tanečníků:</h2>
            <ul>
                <li th:each="form : ${forms}">
                    <span th:text = "${form.getDance().getNumOfDancer()}"></span>
                </li>
            </ul>
        </div>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <h2 class="text-1xl font-bold text-gray-900">Kategorie:</h2>
            <ul>
                <li th:each="form : ${forms}">
                    <span th:text = "${form.getDance().getCategory()}"></span>
                </li>
            </ul>
        </div>
    </main>
</div>
</body>
</html>